.main-container {
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 800px));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  justify-items: center;
  width: 100%;
}

main {
  min-height: 100%;
  margin-bottom: -100px;
}

th,
td {
  padding: 1rem;
}

tr:nth-child(2n) {
  background-color: lightgray;
}

tr {
  animation: slide-in-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.sliding-left {
  animation: slide-in-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.sliding-right {
  animation: slide-in-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

footer {
  height: 100px;
}

table {
  table-layout: auto;
  width: 100%;
}

@media (max-width: 768px) {
  table {
    width: 50%;
    table-layout: auto;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
